$gil-black: Gilroy-Black, sans-serif;
$gil-bold: Gilroy-Bold, sans-serif;
$gil-regular: Gilroy-Regular, sans-serif;
$gil-medium: Gilroy-Medium, sans-serif;
$color-black: black;
$color-pink: rgba(255,1,127,1);
$color-pink-dark: rgba(184,20,85,1);
$color-white: white;
$color-gray-light: rgba(106,106,106,1);
$color-gray-bg-vendas: #eaeaea;
$color-gray-dark: rgba(36,36,35,1);
$color-purple: rgba(101,22,197,1);
$color-yellow: rgba(255,228,0,1);
$color-blue: rgba(61,156,252,1);
$color-red: rgba(255,59,49,1);
/* FONT-FACE */
@font-face {
  font-family: 'Gilroy-Black';
  src: url("/arquivos/Gilroy-Black.otf.css");
}
@font-face {
  font-family: 'Gilroy-BlackItalic';
  src: url("/arquivos/Gilroy-BlackItalic.otf.css");
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: url("/arquivos/Gilroy-Bold.otf.css");
}
@font-face {
  font-family: 'Gilroy-BoldItalic';
  src: url("/arquivos/Gilroy-BoldItalic.otf.css");
}
@font-face {
  font-family: 'Gilroy-Extrabold';
  src: url("/arquivos/Gilroy-Extrabold.otf.css");
}
@font-face {
  font-family: 'Gilroy-ExtraboldItalic';
  src: url("/arquivos/Gilroy-ExtraboldItalic.otf.css");
}
@font-face {
  font-family: 'Gilroy-Heavy';
  src: url("/arquivos/Gilroy-Heavy.otf.css");
}
@font-face {
  font-family: 'Gilroy-HeavyItalic';
  src: url("/arquivos/Gilroy-HeavyItalic.otf.css");
}
@font-face {
  font-family: 'Gilroy-Light';
  src: url("/arquivos/Gilroy-Light.otf.css");
}
@font-face {
  font-family: 'Gilroy-LightItalic';
  src: url("/arquivos/Gilroy-LightItalic.otf.css");
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url("/arquivos/Gilroy-Medium.otf.css");
}
@font-face {
  font-family: 'Gilroy-MediumItalic';
  src: url("/arquivos/Gilroy-MediumItalic.otf.css");
}
@font-face {
  font-family: 'Gilroy-Regular';
  src: url("/arquivos/Gilroy-Regular.otf.css");
}
@font-face {
  font-family: 'Gilroy-RegularItalic';
  src: url("/arquivos/Gilroy-RegularItalic.otf.css");
}
@font-face {
  font-family: 'Gilroy-Semibold';
  src: url("/arquivos/Gilroy-Semibold.otf.css");
}
@font-face {
  font-family: 'Gilroy-SemiboldItalic';
  src: url("/arquivos/Gilroy-SemiboldItalic.otf.css");
}
@font-face {
  font-family: 'Gilroy-Thin';
  src: url("/arquivos/Gilroy-Thin.otf.css");
}
@font-face {
  font-family: 'Gilroy-ThinItalic';
  src: url("/arquivos/Gilroy-ThinItalic.otf.css");
}
@font-face {
  font-family: 'Gilroy-UltraLight';
  src: url("/arquivos/Gilroy-UltraLight.otf.css");
}
@font-face {
  font-family: 'Gilroy-UltraLightItalic';
  src: url("/arquivos/Gilroy-UltraLightItalic.otf.css");
}
/* RULES */
*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#ajaxBusy {
  display: none;
}
li {
  list-style-type: none;
}
a:hover {
  color: $color-yellow !important;
}
.txt-yellow-desk {
  color: $color-yellow;
  font-family: $gil-regular;
  text-align: center;
  font-size: 0.8rem;
}
.tit-white-desk {
  color: $color-white;
  font-family: $gil-bold;
  text-align: center;
  font-size: 2.2rem;
  line-height: 40px;
}
.tit-darkPink-desk {
  color: $color-pink-dark;
  font-family: $gil-bold;
  text-align: center;
  font-size: 2.2rem;
  line-height: 40px;
}
.tit-purple-desk {
  color: $color-purple;
  font-family: $gil-bold;
  text-align: center;
  font-size: 2.2rem;
  line-height: 40px;
  padding-top: 70px;
  margin-bottom: 30px;
}
.text-white-desk {
  color: $color-white;
  font-family: $gil-regular;
  text-align: center;
  font-size: 1rem;
}
.text-white-desk a {
  text-decoration: underline !important;
  color: $color-white;
}
.text-darkGray-desk {
  color: $color-gray-dark;
  font-family: $gil-medium;
  text-align: center;
  font-size: 14px;
}
.text-darkPink-desk {
  color: $color-pink-dark;
  font-family: $gil-regular;
  text-align: center;
  font-size: 24px;
}

/* WHATS APP */
.whatsapp-selo-desk {
  content: "";
  background-image: url("/arquivos/whats-app-icon.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 63px;
  height: 63px;
  position: fixed;
  right: 0;
  top: 50%;
  cursor: pointer;
  z-index: 999;
}
.whatsapp-selo-desk:hover {
  content: "";
  background-image: url("/arquivos/whats-app-icon-hover.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 163px;
  height: 63px;
  position: fixed;
  right: 0;
  top: 50%;
  cursor: pointer;
  z-index: 999;
}

/* MODAL */
.frete-vendas1-desk h2.modal-title {
  font-family: $gil-bold;
  font-size: 22px;
  text-align: center;
}
#btn-calcular-cep {
  width: 100%;
  background-color: $color-pink-dark;
  color: $color-white;
  text-align: center;
  font-family: $gil-bold;
  border-color: transparent;
}
.form-group {
  text-align: center;
  font-family: $gil-bold;
}
.form-control {
  background-color: $color-gray-bg-vendas !important;
}
.modal-header {
  margin: 0 auto;
  border-bottom: transparent !important;
  margin-bottom: -15px;
}
.nao-sei-cep{
  text-align: center;
  padding-top: 20px;
}
th {
  background-color: $color-gray-bg-vendas;
}
.gray-compara {
  background-color: $color-gray-bg-vendas;
  padding: 1.5rem;
  font-family: $gil-bold;
  font-size: 14px;
  line-height: 1;
  text-align: right;
}
.text-comparacao {
  text-align: center;
  padding: 1rem;
  font-family: $gil-bold;
  font-size: 22px;
}
.svgs-compara {
  text-align: center;
  border-right: 1px solid $color-gray-bg-vendas;
}
.txt-dados-compara {
  text-align: center;
  padding: 1.5rem;
  font-family: $gil-medium;
  font-size: 14px;
  border-right: 1px solid $color-gray-bg-vendas;
}
.txt-pink-compara {
  font-family: $gil-bold;
  font-size: 16px;
  color: #b81455;
  line-height: 1;
  padding-top: 1rem;
}
.txt-gray-compara {
  font-family: $gil-medium;
  font-size: 12px;
  color: $color-gray-light;
  line-height: 1;
}
.tb-tr-1 th {
  border-right: 1px solid $color-white;
  border-bottom: 1px solid $color-white;
}
.txt-gray-dados {
  font-family: $gil-regular;
  font-size: 12px;
  color: $color-gray-light;
  line-height: 1;
}
.comparar-vendas1-desk .modal-body {
  padding: 0 !important;
}

/* HEADER */
.menu-header {
  display: flex;
  background-color: transparent;
  z-index: 99;
  width: 100%;
  transition: top 0.3s ease-in-out;
  top: 0;
  position: fixed;
  align-items: center;
}
.menu-sandwich {
  display: inline-block;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: $color-white;
  margin: 6px 0;
  transition: 0.4s;
  border: 0px solid $color-white;
  border-radius: 40px 40px 40px 40px;
  margin-left: 10px;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.itens-right {
  margin-left: auto;
}
.nav-menu-right ul li {
  color: $color-white;
  font-family: $gil-regular;
  text-align: center;
  font-size: 1rem;
}
.nav-item {
  margin: 0 20px;
  margin-top: 12px;
}
.nav-item a {
  color: $color-gray-light;
  font-family: $gil-bold;
  text-align: center;
  font-size: 0.8rem;
}
.nav-item a::before {
  content: url("/arquivos/bd-pink-left.png");
  position: absolute;
}
.nav-item a::after {
  content: url("/arquivos/pd-darkPink-right.png");
  position: absolute;
}
.nav-item a span {
  padding-left: 15px;
  padding-right: 10px;
}
.nav-bar {
  padding: 0 !important;
  justify-content: flex-end !important;
}
.logo-bblend-white img {
  width: 100%;
}


/* FOOTER */
.footer-style {
  background-color: $color-pink-dark;
  height: auto;
}
.img-logos-footer {
  text-align: center;
  padding: 1.5rem;
}
.img-logos-footer img {
  width: 100%;
  max-width: 200px;
}
.logo-amb-bras img {
  width: 100%;
  max-width: 111px;
}
.btn-left,
.btn-center,
.btn-right {
  padding: 1rem;
}
.btn-left img,
.btn-center img {
  width: 100%;
  max-width: 150px;
}
.btn-right img {
  width: 100%;
  max-width: 110px;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx MOBILE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* DESTAQUE MOB */
.group-destaque-mob {
  position: relative;
  width: 100%;
  height: 570px;
}
.gif-header {
  content: "";
  background-image: url(/arquivos/gif-dest-mob.gif);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.gif-header img {
  width: 100%;
}
.caps-mob {
  text-align: center;
  position: relative;
  top: 520px;
}
.caps-mob img {
  width: 100%;
  max-width: 280px;
}
.text-white-mob {
  color: $color-white;
  font-family: $gil-regular;
  text-align: center;
  font-size: 0.8rem;
}
.dest-mob {
  background-color: $color-pink-dark;
}
.btn-white-pink-mob {
  text-align: center;
  padding: 1rem;
  padding-bottom: 30px;
}
.btn-white-pink-mob a img {
  width: 100%;
  max-width: 300px;
}
.btn-selo-dest-mob {
  text-align: center;
}
.btn-selo-dest-mob a img {
  width: 100%;
  max-width: 150px;
}

/* SMART MOB */
.swi-sli-mob {
  width: 100% !important;
}
.smart-maca-mob {
  background-color: orange;
}
.wrap-menu-smart-mob {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  text-align: center;
}
.wrap-menu-smart-mob svg {
  width: 45px;
  padding: 10px;
  cursor: pointer;
}
.wrap-menu-smart-mob button {
  background: #efefef;
  border: none;
}
.wrap-menu-smart-mob button:focus {
  outline: none;
}
.btn-purple-group {
  justify-content: center;
}
.box-purple-smart-mob {
  background-color: #6516c5;
  border: 0px solid #6516c5;
  border-radius: 10px 40px 10px 40px;
  position: absolute;
  bottom: 31px;
  padding: 30px;
  overflow: hidden;
  opacity: 0.7;
  width: 270px;
  height: 115px;
}
.box-purple-smart-mob p.tit-purple-box {
  color: $color-white;
  font-family: $gil-regular;
  text-align: left;
  font-size: 1rem;
  margin-top: -20px;
}

/* RED MOBILE */
.btn-buy-red-mob {
  position: relative;
  z-index: 9;
}
.btn-buy-red-mob a {
  margin: 0 auto;
}
.btn-buy-red-mob a img {
  width: 100%;
  padding: 2rem;
}

/* YELLOW MOBILE */
.btn-green-yellow {
  text-align: center;
  padding: 2rem;
  z-index: 2;
  position: relative;
  top: -100px;
}
.btn-green-yellow a img {
  width: 100%;
  max-width: 200px;
}
.selo-yellow-mob {
  text-align: center;
}
.selo-yellow-mob img {
  width: 100%;
  max-width: 250px;
}
.tit-green-desk {
  font-family: $gil-bold;
  font-size: 2rem;
  color: green;
  text-align: center;
  padding-top: 60px;
}
.texts-yellow p.tit-green-desk {
  margin-bottom: 0;
}
.right-3d-mob img {
  width: 100%;
}
.left-3d-mob img {
  width: 100%;
}

/* BLUE MOBILE */
.blue-mob {
  background-color: $color-blue;
  height: auto;
}
.left-blue-mob {
  position: relative;
  height: 500px;
}
.img-blue-cel-mob {
  background-image: url("/arquivos/celulares-blue-mob.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.right-blue-mob .texts-top-blue .text-white-desk {
  text-align: left;
  font-size: 12px;
}
.right-blue-mob .texts-top-blue .text-white-desk span {
  font-family: $gil-bold;
}
.right-blue-mob .texts-top-blue .btn-comprar-blue-desk,
.right-blue-mob .texts-bottom-blue .btn-comprar-blue-desk {
  text-align: left;
}
.right-blue-mob .texts-top-blue .btn-comprar-blue-desk a,
.texts-bottom-blue .btn-comprar-blue-desk a {
  font-size: 10px;
}
.texts-bottom-blue .text-white-desk {
  text-align: left;
  font-size: 12px;
}
.texts-bottom-blue .text-white-desk span {
  font-family: $gil-bold;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx DESKTOP xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* FIXED MENU */
.tele-redes {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
.televendas {
  margin-right: 50px;
  color: white;
  font-family: 'Gilroy-Regular';
}
.televendas-footer {
  font-family: 'Gilroy-Bold';
}
.redes-sociais {
  display: flex;
  align-items: baseline;
}
.redes-sociais p {
  color: white;
  font-family: 'Gilroy-Regular';
}
.redes-sociais a {
  color: white;
  margin: 0 7px;
}
.logos-sociais {
  align-items: baseline;
}
/* DESTAQUE DESKTOP */
.img-capsulas-desk {
  width: 100%;
  text-align: center;
}
.btn-play-white, 
.btn-white-pink {
  padding: 0 1rem;
}
.btn-play-white span {
  background-image: url("/arquivos/btn-play-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.btn-play-white a img {
  width: 100%;
}
.dest-video-desk {
  position: relative;
  height: 640px;
}

.dest-video-desk .container {
  padding-bottom: 40px;
  position: fixed;
  left: 0;
  right: 0;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.bg-video video {
  width: 100%;
  z-index: -999;
}
.texts-dest-desk {
  padding-top: 100px;
}
.texts-dest-desk .txt-yellow-desk {
  text-transform: uppercase;
}
.btns-dest-desk {
  justify-content: center;
  margin: 2rem;
}

/* PURPLE PARALLAX DESKTOP */
.wrapped-purple-para {
  background: $color-white;
  position: relative;
  height: 600px;
  background-color: $color-white;
}
.purple-desk {
  position: relative;
  height: 600px; 
  background-color: $color-purple;
}
.caps-purple {
  position: absolute;
  top: 700px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.para-img-1 {
  position: absolute;
  top: -70px;
  right: 0;
  bottom: 0;
  left: 500px;
}
.para-img-2 {
  position: absolute;
  right: 0;
  bottom: 40px;
  left: 0;
  top: 80px;
}
.para-img-3 {
  position: absolute;
  right: 0;
  bottom: -70px;
  bottom: 0;
  top: 180px;
}
.para-img-4 {
  position: absolute;
  right: 0;
  top: 380px;
  bottom: 0;
  left: 300px;
}
.para-img-1 img {
  width: 100%;
  max-width: 200px;
}
.para-img-2 img {
  width: 100%;
  max-width: 200px;
}
.para-img-3 img {
  width: 100%;
  max-width: 200px;
}
.para-img-4 img {
  width: 100%;
  max-width: 200px;
}

/* SMART DESKTOP */
.smart-desk {
  height: auto;
}
.texts-smart-desk {
  margin: 0 auto;
  padding-top: 70px;
}
.purple-col-smart {
  position: absolute;
  right: 55px;
}
.box-purple-smart {
  background-color: #6516c5;
  border: 0px solid #6516c5;
  border-radius: 10px 40px 10px 40px;
  position: absolute;
  top: 200px;
  left: 0;
  bottom: 0;
  right: 120px;
  padding: 30px;
  overflow: hidden;
  opacity: 0.7;
  width: 300px;
  height: 190px;
}
.box-purple-smart p.tit-purple-box {
  color: $color-white;
  font-family: Gilroy-Light;
  text-align: left;
  font-size: 1.4rem;
}
.box-purple-smart .btn-purple-box {
  text-align: center;
}
.box-purple-smart .btn-purple-box a  {
  color: white;
  font-family: 'Gilroy-Bold';
  font-size: 1rem;
}
.box-purple-smart .btn-purple-box a::before {
  content: url("/arquivos/linha-botao-topo-left.png");
  position: absolute;
}
.box-purple-smart .btn-purple-box a::after {
  content: url("/arquivos/linha-botao-topo-right.png");
  position: absolute;
}
.box-purple-smart .btn-purple-box a span {
  padding: 0 20px;
}
.box-pink-smart {
  background-color: #b81455;
  border: 0px solid #b81455;
  border-radius: 40px 10px 40px 10px;
  position: absolute;
  top: 300px;
  left: 60px;
  bottom: 0;
  right: 0;
  padding: 30px;
  overflow: hidden;
  height: 200px;
  opacity: 0.7;
  width: 300px;
}
.text-purple-box {
  position: relative;
  color: $color-white;
  font-family: $gil-regular;
  text-align: left;
  font-size: 0.8rem;
}
p.text-purple-box span {
  font-family: $gil-bold;
}
.text-pink-box,
.name-pink-box {
  color: white;
  font-family: Gilroy-Regular, sans-serif;
  text-align: left;
  font-size: 0.8rem;
  overflow: hidden;
  padding-right: 10px;
}
.aspas {
  font-family: $gil-bold;
  font-size: 1.2rem;
}
.wrap-menu-smart-desk {
  display: grid;
  position: absolute;
  top: 200px;
  left: 10%;
  z-index: 10;
}
.btns-smart-desk {
  position: relative;
}
.maca-svg-desk img,
.talheres-svg-desk img, 
.tenis-svg-desk img, 
.food-svg-desk img, 
.drink-svg-desk img {
  width: 50px;
}
#content {
  position: relative;
  width: 100%;
  height: 700px;
}
#maca {
  background-image: url("/arquivos/img-smart-woman-desk_optimized.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#talheres {
  background-image: url("/arquivos/img-smart-casal-desk_optimized.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#tenis {
  background-image: url("/arquivos/img-smart-sport-desk_optimized.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#food {
  background-image: url("/arquivos/img-smart-eat-desk_optimized.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#drink {
  background-image: url("/arquivos/img-smart-girl-mob_optimized.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.smart-maca-desk,
.smart-talheres-desk,
.smart-tenis-desk,
.smart-food-desk,
.smart-drink-desk {
  height: 700px;
}
.wrap-menu-smart-desk svg {
  width: 45px;
  padding: 10px;
  cursor: pointer;
}
.wrap-menu-smart-desk button {
  background: #efefef;
  border: none;
}
.wrap-menu-smart-desk button:focus {
  outline: none;
}
.selected {
  fill: $color-pink-dark !important;
  stroke: $color-pink-dark !important;
}
#btn1 {
  height: 60px;
  border-radius: 30px 30px 0px 0px;
}
#btn1::before {
  content: '';
  display: block;
  position: relative;
  top: 50px;
  width: 50%;
  left: 25%;
  border-top: 1px solid rgb(165, 165, 165);
}
#btn2::before {
  content: '';
  display: block;
  position: relative;
  top: 50px;
  width: 50%;
  left: 25%;
  border-top: 1px solid rgb(165, 165, 165);
}
#btn3::before {
  content: '';
  display: block;
  position: relative;
  top: 50px;
  width: 50%;
  left: 25%;
  border-top: 1px solid rgb(165, 165, 165);
}
#btn4::before {
  content: '';
  display: block;
  position: relative;
  top: 50px;
  width: 50%;
  left: 25%;
  border-top: 1px solid rgb(165, 165, 165);
}
#btn5 {
  height: 60px;
  border-radius: 0px 0px 30px 30px;
}

/* VENDAS DESKTOP */
.hide,
.flag,
.juros,
.total-parcelado,
.descricao-content {
  display: none !important;
}
.vendas-desk {
  height: auto;
  position: relative;
  background-color: $color-gray-bg-vendas;
}
.shelf-bblend-maquinas {
  width: 100%;
}
.shelf-bblend-maquinas h2 {
  display: none;
}
.shelf-bblend-maquinas ul {
  max-width: 420px;
  margin: 0 auto;
}
.botoes {
  border: 0px solid transparent;
  border-radius: 30px 10px 30px 10px;
  background-color: $color-pink-dark;
  padding: 10px;
  max-width: 280px;
  margin: 0 auto;
}
.btn-buy-enjoy {
  text-align: center;
  padding: 5px;
}
.btn-buy-enjoy a {
  font-family: $gil-bold;
  font-size: 1rem;
  color: $color-white;
}
.slick-slide:focus { 
  outline: none; 
}
.slick-slide a:focus { 
  outline: none; 
}
.slick-list {
  height: auto;
  z-index: 1;
}
.slick-dots {
  top: 320px;
}
.links-bottom-vendas-desk {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 70px;
  border-top: 1px solid lightgray;
}
.links-bottom-vendas-desk .comparar-vendas1-desk {
  text-align: right;
}
.links-bottom-vendas-desk .especifica-vendas1-desk {
  text-align: center;
}
.links-bottom-vendas-desk .frete-vendas1-desk {
  text-align: left;
}
.links-bottom-vendas-desk div a {
  font-family: $gil-bold;
  text-decoration: underline;
  color: $color-gray-dark;
}
.texts-vendas .tit-purple-desk {
  color: $color-pink-dark;
}
.texts-vendas .text-gray-desk {
  color: $color-gray-dark;
  font-family: $gil-medium;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
.texts-vendas .text-gray-desk span {
  font-family: $gil-bold;
}
.nome {
  color: $color-pink-dark;
  font-family: $gil-bold;
  text-align: left;
  font-size: 16px;
  padding-left: 70px;
  padding-top: 60px;
}
.descricao {
  padding-left: 70px;
}
.descricao p {
  color: $color-gray-dark;
  font-family: $gil-bold;
  text-align: left;
  font-size: 14px;
  padding-bottom: 1rem;
}
.saiba-mais-modal {
  color: $color-pink-dark;
  font-family: $gil-bold;
  text-align: left;
  font-size: 0.8rem;
  padding-bottom: 1rem;
  text-decoration: underline;
}
.slick-prev::before {
  content: "";
  background: url("/arquivos/arrow-pink-left.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: -210px;
  left: 0;
  right: 0;
  bottom: 0;
}
.slick-next::before {
  content: "";
  background: url("/arquivos/arrow-pink-right.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: -210px;
  left: -15px;
  right: 0;
  bottom: 0;
}
.image img {
  margin: 0 auto;
}
.preco-produto {
  font-size: 24px;
  font-family: $gil-bold;
  color: $color-pink-dark;
  position: relative;
  top: -20px;
  right: -12px;
}
.por-box .col-3 {
  font-family: $gil-medium;
  color: $color-pink-dark;
}
.price {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 65px;
  overflow: hidden;
}
.preco-original {
  font-family: $gil-medium;
  color: $color-gray-light;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 0;
  padding-top: 15px;
  overflow: hidden;
}
.preco-promo {
  font-family: $gil-bold;
  color: $color-pink-dark;
  text-transform: uppercase;
  font-size: 10px;
  position: relative;
  top: -4px;
}
.por-box {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: white;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 65px;
}
.prod-info {
  font-family: $gil-bold;
  color: $color-gray-dark;
  font-size: 14px;
}
.dez-vezes {
  font-family: $gil-medium;
  color: $color-pink-dark;
  font-size: 12px;
  position: relative;
  top: -15px;
  right: -10px;
}

/* PRODUTOS DESKTOP */
.produtos-desk {
  position: relative;
  height: auto;
  background: $color-white;
}
.tit-prod-desk {
  text-align: center;
  font-family: $gil-bold;
  color: #2f2f2f;
}
.swiper-container {
  height: 600px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  filter: blur(5px);
}
.swiper-slide-active {
  filter: blur(0);
}
.swiper-pagination {
  top: 450px !important;
}
.btn-comprar-prod-desk {
  position: relative;
  top: -85px;
  z-index: 10;
  text-align: center;
}
.btn-comprar-prod-desk a {
  font-family: $gil-bold;
  color: $color-red;
}
.btn-comprar-prod-desk a::before {
  content: url("/arquivos/bd-red-left.png");
  position: absolute;
}
.btn-comprar-prod-desk a::after {
  content: url("/arquivos/bd-red-right.png");
  position: absolute;
}
.btn-comprar-prod-desk a span {
  padding-left: 15px;
  padding-right: 10px;
}
.wrapper-box-prod-desk {
  position: relative;
  background-color: $color-white;
  width: 240px;
  height: 170px;
  top: -230px;
  right: -304px;
  border: 1px solid $color-white;
  border-radius: 0px 10px 40px 0px;
  z-index: -1;
  box-shadow: -10px 5px 11px -11px rgba(0,0,0,0.49);
}
.white-box-prod-desk {
  position: absolute;
  top: 10px;
  left: 94px;
  bottom: 0px;
  right: 10px;
  left: 10px;
  height: 148px;
  overflow: hidden;
}
.suco-fruta-cont,
.nectares-cont,
.frapes-cont {
  background: linear-gradient(119.16deg, #00FF00 0%, #FFDC1A 100%);
}
.refri-cont,
.chas-gelados-cont,
.energy-cont {
  background: linear-gradient(135deg, #0096FF 0%, #00E3FF 100%);
}
.suco-funcional-cont,
.cafes-cont,
.chocolates-cont {
  background: linear-gradient(119.16deg, #FF6421 0%, #FE001B 100%);
}
.drinks-cont,
.chas-quentes-cont,
.drinks-cont {
  background: linear-gradient(119.16deg, #FF00C9 0%, #C500FF 100%);
}
.wrap-menu-prod-desk {
  z-index: 9;
  position: relative;
  height: 100px;
  margin-bottom: -70px;
}
.left-btn-prod-desk {
  position: absolute;
  top: 0;
  left: 90px;
  z-index: 1;
}
.center-btns-prod-desk {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
}
.right-btn-prod-desk {
  position: absolute;
  top: 0;
  right: 25px;
}
.text-produtos-desk {
  background: white;
  height: auto;
}
.text-produtos-desk .tit-darkPink-desk {
  padding: 50px 0 0;
  font-size: 2.2rem;
}
.text-produtos-desk .text-darkGray-desk {
  font-size: 1.1rem;
}
.center-btns-prod-desk svg {
  width: 48px;
  padding: 10px;
  cursor: pointer;
}
.center-btns-prod-desk button {
  background: #efefef;
  border: none;
}
.center-btns-prod-desk button:focus {
  outline: none;
}
#btn-pro1::before {
  content: "";
  background: url("/arquivos/btn-left-prod.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 620px;
  bottom: 0;
  height: 48px;
  z-index: -1;
}
#btn-pro1::after,
#btn-pro2::after,
#btn-pro3::after,
#btn-pro4::after,
#btn-pro5::after,
#btn-pro6::after,
#btn-pro7::after,
#btn-pro8::after,
#btn-pro9::after,
#btn-pro10::after
 {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  border-right: 1px solid #a5a5a5;
}
#btn-pro11::after {
  content: "";
  background: url("/arquivos/btn-right-prod.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 645px;
  right: 0;
  bottom: 0;
  height: 48px;
  z-index: -1;
}


/* RED DESKTOP */
.red-desk {
  position: relative;
  width: 100%;
  height: 620px;
  background-color: $color-red;
}
.bg-red-desk {
  background-color: $color-red;
}
.bg-red-desk div .tit-purple-desk {
  padding-top: 75px;
  z-index: 9;
}
.bg-red-desk::before {
  content: "";
  background-image: url("/arquivos/gota-red.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -24px;
  right: 0;
  z-index: 2;
}
.gif-red-desk {
  text-align: right;
  margin-right: 30px;
}
.gif-red-desk img {
  width: 100%;
  max-width: 360px;
  margin-right: 15px;
}
.tit-yellow-red-1,
.tit-yellow-red-2,
.tit-yellow-red-3 {
  color: $color-yellow;
  font-family: $gil-bold;
  text-align: left;
  font-size: 16px;
}
.tit-yellow-red-1::before {
  content: "";
  background-image: url("/arquivos/one-yellow.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: -5px;
  left: -30px;
  bottom: 0;
  right: 0;
}
.tit-yellow-red-2::before {
  content: "";
  background-image: url("/arquivos/two-yellow.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: 93px;
  left: -30px;
  bottom: 0;
  right: 0;
}
.tit-yellow-red-3::before {
  content: "";
  background-image: url("/arquivos/three-yellow.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: 171px;
  left: -30px;
  bottom: 0;
  right: 0;
}
.tit-yellow-red p {
  margin-bottom: 0;
}
.texts-red {
  padding-right: 40px;
}
.texts-red .text-white-desk {
  text-align: left;
  font-size: 14px;
}
.btn-purple-red {
  position: relative;
  z-index: 9;
  left: -45px;
  padding-top: 2rem;
}
.btn-play-red {
  text-align: right;
  margin-right: 60px;
  padding-top: 80px;
  position: relative;
  z-index: 9;
}
.btn-play-red a img {
  width: 100%;
  max-width: 250px;
}


/* YELLOW DESKTOP */
.yellow-desk {
  position: relative;
  height: 620px;
  background-color: $color-yellow;
}
.right-3d {
  text-align: left;
}
.right-3d img {
  width: 100%;
  max-width: 500px;
}
.left-3d img {
  width: 100%;
}
.left-3d {
  text-align: right;
}
.bg-yellow::before {
  content: "";
  background-image: url("/arquivos/gota-yellow.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -24px;
  right: 0;
  z-index: 1;
}
.bg-yellow .row {
  padding-top: 60px;
}
.texts-yellow .text-darkGray-desk::after {
  content: "";
  background-image: url("/arquivos/selo-natural.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 95px;
  left: 0;
  right: 600px;
  height: 60px;
}
.texts-yellow .text-darkGray-desk::before {
  content: "";
  background-image: url("/arquivos/selo-sabor.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 90px;
  left: 580px;
  bottom: 0;
  right: 0px;
  height: 60px;
}

/* BLUE DESKTOP */
.blue-desk {
  position: relative;
  width: 100%;
  height: 650px;
  background-color: $color-blue;
}
.center-blue {
  text-align: center;
}
.center-blue img {
  width: 100%;
  max-width: 300px;
}
.btn-comprar-blue-desk {
  text-align: right;
  position: relative;
}
.btn-comprar-blue-desk a {
  color: $color-pink-dark;
  font-family: $gil-medium;
  text-align: left;
  font-size: 1rem;
}
.btn-comprar-blue-desk a span {
  padding-left: 15px;
  padding-right: 10px;
}
.btn-comprar-blue-desk a::before {
  content: url("/arquivos/bd-left-pink.png");
  position: absolute;
}
.btn-comprar-blue-desk a::after {
  content: url("/arquivos/bd-pink-right.png");
  position: absolute;
}
.texts-blue-desk {
  padding-top: 90px;
}
.left-blue .text-white-desk {
  font-family: $gil-regular;
  text-align: right;
  margin-right: -20px;
  padding-top: 160px;
  padding-left: 120px;
}
.left-blue .text-white-desk span {
  font-family: $gil-bold;
  text-align: right;
}
.right-blue .text-white-desk {
  font-family: $gil-regular;
  text-align: left;
  padding-right: 120px;
  padding-top: 160px;
}
.right-blue .text-white-desk span {
  font-family: $gil-bold;
  text-align: left;
}
.right-blue .btn-comprar-blue-desk {
  text-align: left;
}


/* DUVIDAS DESKTOP*/
.duvidas-desk {
  max-width: 900px;
  height: auto;
  background-color: $color-white;
  padding-top: 120px;
  padding-bottom: 60px;
  position: relative;
}
.card-header {
  padding: 0 !important;
}
.tit-duvidas {
  text-align: center;
}
.text-duvidas {
  text-align: center;
}
.tit-duvidas-mob {
  color: $color-pink-dark;
  font-family: $gil-black;
  text-align: center;
  font-size: 2rem;
}
.text-duvidas-mob {
  color: $color-gray-dark;
  font-family: $gil-regular;
  text-align: center;
  font-size: 16px;
  margin: 20px 0;
  line-height: 22px;
}
.card-body {
  background-color: $color-gray-bg-vendas !important;
  color: rgba(116,116,116,1);
  font-family: 'Gilroy-Regular';
}
.card-header {
  background-color: $color-pink-dark !important;
  border-bottom: 2px solid rgba(184,20,85,1)!important;
}
.card-header h2 {
  font-family: 'Gilroy-Regular';
}
.card {
  border-radius: 10px;
}
button.btn.btn-link {
  color: rgba(255,255,255,1);
  text-align: left;
  text-decoration: none;
}
.arrow-up::after {
  font-family: "Font Awesome 5 Pro"; 
  font-weight: 900; 
  content: "\f078";
  position: absolute;
  right: 8px;
  top: 7px;
}
.arrow-down::after {
  content: "\f077";
}

/* FOOTER DESKTOP */
.footer-style-mob {
  background-color: #ff017f;
}
.logos-mob {
  justify-content: space-evenly;
}
.logos-mob img {
  margin-top: 30px;
}
.text-footer p {
  font-family: 'Gilroy-Regular';
  font-size: 12px;
  line-height: 18px;
  margin: 1rem;
}
.copy {
  background-color: white;
  color: black;
  justify-content: center;
}
.copy p {
  font-family: 'Gilroy-Regular';
  font-size: 10px;
  margin: 1rem;
}
.selos-footer-mob {
  padding: 1rem;
}
.line-footer {
  border-top: 5px solid $color-pink-dark;
  border-bottom: 5px solid $color-gray-bg-vendas;
}
.border-footer {
  border-left: 1px solid $color-gray-bg-vendas;
  border-right: 1px solid $color-gray-bg-vendas;
}

/* MEDIA QUERY */
@media screen and (max-width: 640px) {
  .btn-left,
  .btn-center,
  .btn-right {
    padding: 0;
  }
  .btn-left img,
  .btn-center img {
    max-width: auto;
  }
  .btn-right img {
    max-width: auto;
  }
  .nome,
  .descricao {
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .texts-bottom-blue {
    padding-top: 40px;
  }
  .right-blue-mob {
    padding-top: 60px;
  }
  .blue-desk {
    height: auto;
  }
  .nav-item a {
    color: $color-white;
  }
  .text-purple-box {
    font-size: 12px;
  }
}
@media screen and (max-width: 992px) {
  .swiper-wrapper {
    position: relative;
    left: -115px;
  }
  .btn-green-yellow {
    text-align: center;
    position: relative;
    padding-bottom: 0;
  }
  .texts-yellow .text-darkGray-desk::before {
    display: none;
  }
  .texts-yellow .text-darkGray-desk::after {
    display: none;
  }
  .right-3d-mob {
    position: relative;
    left: -25px;
    padding-bottom: 80px;
  }
  .left-3d-mob {
    position: relative;
    left: -25px;
    padding-bottom: 30px;
  }
  .btn-buy-red-mob {
    padding-bottom: 30px;
  }
  .btn-play-red {
    text-align: center;
    margin-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 9;
    position: relative;
  }
  .links-bottom-vendas-desk .frete-vendas1-desk,
  .links-bottom-vendas-desk .comparar-vendas1-desk {
    text-align: center;
  }
  .links-bottom-vendas-desk {
    padding-bottom: 50px;
  }
  .links-bottom-vendas-desk div {
    text-align: center;
    line-height: 10px;
  }
  .links-bottom-vendas-desk div a {
    font-size: 10px;
    text-align: center;
  }
  .wrap-menu-prod-desk::before {
    content: "";
    position: absolute;
    background: #efefef;
    width: auto;
    height: 60px;
    left: -40px;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .center-btns-prod-desk::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  .center-btns-prod-desk {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-left: 45%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .center-btns-prod-desk svg {
    width: 60px;
  }
  #btn1::before,
  #btn2::before,
  #btn3::before,
  #btn4::before,
  #btn5::before,
  #btn-pro1::before,
  #btn-pro11::after {
    display: none;
  }
  #btn5 {
    height: auto;
    width: 60px;
    border-radius: 0px 30px 30px 0px;
  }
  #btn1 {
    width: 60px;
    border-radius: 30px 0px 0px 30px;
    height: auto;
  }
  #btn1::after {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    border-right: 1px solid #a5a5a5;
  }
  #btn2::after {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    border-right: 1px solid #a5a5a5;
  }
  #btn3::after {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    border-right: 1px solid #a5a5a5;
  }
  #btn4::after {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    border-right: 1px solid #a5a5a5;
  }
  .swiper-container {
    height: 800px;
    width: 100%;
  }
  .swiper-pagination {
    top: 625px !important;
  }
  .texts-smart-desk .tit-white-desk {
    position: relative;
    top: 190px;
    padding: 2rem;
  }
  .nav-item {
    margin: 0;
    margin-top: 12px;
  }
  .tit-purple-desk {
    margin-top: 0;
    padding-top: 30px;
  }
  .yellow-desk {
    position: relative;
    height: auto;
  }
  .bg-yellow::after {
    content: "";
    background-image: url(/arquivos/gota-yellow.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -24px;
    right: 0;
    z-index: 1;
  }
  .btn-play-white {
    padding: 1rem;
    text-align: center;
  }
  .btn-play-white a img {
    max-width: 222px;
  }
  .txt-yellow-desk {
    position: relative;
    top: 20px;
    padding: 1rem;
    text-transform: uppercase;
    padding-top: 30px;
  }
  .texts-red {
    text-align: center;
    padding-top: 60px;
    padding-right: 0;
  }
  .texts-red .text-white-desk,
  .texts-red .tit-yellow-red-1,
  .texts-red .tit-yellow-red-2,
  .texts-red .tit-yellow-red-3 {
    text-align: center;
    margin-bottom: 0;
  }
  .red-desk {
    height: auto;
  }
  .gif-red-desk {
    margin-right: 0;
    text-align: center;
  }
  .wrapper-box-prod-desk {
    width: 240px;
    height: 170px;
    top: -19px;
    right: 0px;
    left: 33px;
  }
  .tit-yellow-red-1::before {
    background-position: top;
    top: 20px;
    left: 0;
  }
  .tit-yellow-red-2::before {
    background-position: center;
    top: -195px;
    left: 0;
  }
  .tit-yellow-red-3::before {
    background-position: center;
    top: 50px;
    left: 0;
  }
}
@media screen and (max-width: 1200px) {
  .dest-video-desk {
    height: 550px;
  }
}